body,p,h1,h2,h3,ul{
    padding: 0px;
    margin:0px ;
    
}
body{
    background-color: #F9F9F9;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
 width: 1720px;
 margin: 0 auto;
 
}
.header{
    padding:41px 0px ;
    border-bottom: 2px solid #779611;


}
.header-container{
    display: flex;
    flex-direction: row;
    gap: 120px;
    align-items: center;
}
.header-list{
    display: flex;
    flex-direction: row;
    gap:80px
}
.header-link{
    color:#707070;

}
.hero-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.title{
    color: #779611;
    font-size:48px ;
    font-weight: 600;
    padding-bottom: 50px;
    font-family:"Exo 2", sans-serif;
}
.hero-text{
    color:#000000;
    font-size: 24px;
    padding-bottom: 50px;
}
.hero-button{
    background-color: #779611;
    font-size: 32px;
    border-radius: 40px;
    padding: 18px 70px;
    color: #F9F9F9;
    border: none;

}
.shop{
    padding-top: 80px;
    border-top:2px solid #779611 ;

}
.shop-title{
    color: #779611;
    font-size: 36px;
    padding-bottom: 35px;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;

}
.shop-text{
    padding-bottom: 50px;
}
.shop-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shop-name{
    color:#779611 ;
    padding-bottom: 15px;
    padding-left: 60px;
    font-size: 24px;
    font-weight: 400;
}
.shop-img{
    padding-bottom: 35px;
}
.shop-price{
    padding-left: 60px;
}
.juice{
    padding-top: 80px;
    border-bottom:2px solid #779611 ;
}
.juice-title{
    color:#779611;
    font-size: 36px;
    font-family:"Exo 2",sans-serif ;
    font-weight: 600;
    padding-bottom: 35px;
}
.juice-text{
    color:#000000;
    padding-bottom: 50px;
}
.juice-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.juice-name{
    color: #779611;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-top: 35px;
}
.juice-price{
    color: #000000;
    padding-left: 60px;
    padding-bottom: 80px;
}
.about{
    padding-top: 114px;
    padding-bottom: 114px;
    border-bottom: 2px solid #779611;
    
    
}
.about-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.about-subtitle{
    color: #779611;
    font-size: 24px;
    font-weight: 500;
    font-family: "Exo 2",sans-serif;
    text-transform: capitalize;
    padding-bottom: 15px;
}
.about-title{
    color: #779611;
    font-size: 48px;
    font-weight: 600;
    font-family: "Exo 2",sans-serif;
    padding-bottom: 35px;
    width: 560px;
}
.about-text{
    color: #000000;
    width: 560px;
}
.footer{
    padding-top:60px ;
    padding-bottom: 60px;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-link{
    color: #000000;
}
.footer-title{
    font-weight: 400;
    padding-bottom: 20px;
    
}
.footer-address{
    font-style: normal;
    line-height: 2;
}
.footer-list{
    display: flex;
    gap: 20px;
    flex-direction: column;
}